[submodule "resources/assets/vm"]
	path = resources/assets/vm
	url = https://github.com/RyanMcG/vm-assets.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = git@github.com:rhazdon/hugo-theme-hello-friend-ng.git
