{:site-title "Ryan Virtual Machine"
 :author "Ryan V McGowan"
 :in-dir "resources/content"
 :out-dir "resources/public"
 :stefon {:precompiles ["javascripts/app.js.stefon"
                        "stylesheets/app.css.stefon"]}
 :parse-defaults {:layout :ryanmcg}
 :deploy {:workflow :git-branch
          :branch "master"}
 :contacts [[:twitter "Ryan_VM"]
            [:github "RyanMcG"]
            [:email "ryan@ryanmcg.com" "fa-envelope"]]}
