{:site-title "Ryan Virtual Machine"
 :author "Ryan V McGowan"
 :in-dir "resources/content"
 :out-dir "resources/public"
 :stefon {:precompiles ["vm/javascripts/vm.js.stefon"
                        "stylesheets/ryanmcg.css.stefon"]}
 :parse-defaults {:transformers [:ryanmcg-layout :html-header-anchors]}
 :disqus {:shortname "ryanmcg"}
 :deploy {:workflow :git-branch
          :branch "master"}
 :contacts [[:twitter "Ryan_VM"]
            [:github "RyanMcG"]
            [:email "ryan@ryanmcg.com" "fa-envelope"]]}
