.navigation {
  padding: 0 0 0 12pt;
  margin: 0 0 0 @logo-size;
  list-style: none;
  font-family: @serif;
  font-size: 1.5em;
  line-height: 1.4em;
  li {
    margin-right: 1em;
    &:last-child { margin-left: 0; }
    display: inline-block;
    a { .primary(lighten(@brand-primary, 5%)); }
  }
}
