.navigation {
  max-width: @page-width;
  padding: 0 @content-padding;
  margin: 0 auto;
  list-style: none;
  font-family: @serif;
  font-size: 1.5em;
  line-height: 1.4em;
  text-align: center;
  li {
    margin-left: 1em;
    &:first-child {
      margin-left: 0;
    }
    display: inline-block;
    a { .primary(lighten(@brand-primary, 5%)); }
  }
}
