@import "../vm/stylesheets/vm.less";
@import "navigation.less";
@import "posts.less";

body {
  .dark-colors(darken(@color, 10%));
}

#content {
  .light-bg();
  padding-bottom: 1em;
}

footer, header {
  .dark-elements();
}

footer {
  padding-top: 2em;
}

.cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

header {
  background: radial-gradient(ellipse at 80% 108%, rgba(0,0,0,0.1), rgba(0,0,0,.4)),
              url(/assets/images/cover-1920.jpg) no-repeat 50% 80% fixed;
  .cover();
  padding-bottom: 0
}

article > h1:first-child {
  .dark();
  background: radial-gradient(ellipse at 65% 18%, rgba(0,0,0,0.3), rgba(0,0,0,.5)),
              url(/assets/images/cover-1920.jpg) no-repeat 50% 80% fixed;
  .cover();
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}

#contacts {
  margin: 2em 0;
  .contact {
    text-align: center;
    a { .mbtn(3px); }
  }
}

@logo-size: 128px;

header .wrapper {
  max-width: @page-max-width;
  padding: 10% 0;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 2500px) {
  header .wrapper {
    padding: 250px 0;
  }
}

#logo {
  background: no-repeat url(/assets/images/vm.svg);
  background-size: 100% auto;
  width: @logo-size;
  height: @logo-size;
  float: left;
}

.primary(@color) {
  outline: 0;
  color: @color;
  text-decoration: none;
  &:hover         { color: darken(@color, 10%); }
  &:hover:active  { color: darken(@color, 10%); }
  &:hover:visited { color: darken(@color, 10%); }
  &:active        { color: darken(@color, 10%); }
  &:visited       { color: @color; }
}

#site-title {
  margin: 0 0 0 @logo-size;
  padding: 14pt 0 0 12pt;
  font-weight: 200;
  font-family: @serif;
  font-size: 36pt;
  line-height: 1em;
  text-shadow: 0.05em 0 0 black;
  a { .primary(@brand-primary); }
}

#cc {
  #cc-text { font-size: .8em; }
  .clearfix();
}

#feeling-generous {
  font-size: .8em;
  text-align: center;
  p { font-weight: 300; }
  p.or {
    margin: 1em 0;
    font-size: .75em;
    font-weight: 700;
  }
  h6 {
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;
  }
}
